/* instellingen */
* {
    border: 2px solid white;
    box-sizing: border-box;
    overflow: hidden;
}

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #d83e3e;  
    
    
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
    padding: 20px;
    float: left;
    margin: 20px;  padding: 20px;
   
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.koprij {

}

header {
float:left;
width: calc( 100% - 300px - 150px);
}

nav {
float:right;
width:300px;
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
    width:250px;
}

nav ul li {
    width: 100px;
    float: left;
}

nav li a {
    display: block;
    color: white;
    background-image: url("afbeeldingen/valorantcircle.jpg"); width: 20px; height: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




